@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;900&display=swap');

/* GENERAL STYLING + STRUCTURE */

body {
    font-family: 'Poppins', sans-serif;
}

div {
    /* border: 3px black solid; */
    /* margin: 3px; */
    /* padding: 3px; */
}

.App {
    text-align: center;
    margin-left: 15vw;
    margin-right: 15vw;
    background-color: white;
}


/* Background supplied by SVG Backgrounds */

#root {
    /* background-image: linear-gradient(to bottom right, red, yellow); */
    z-index: -5;
    margin: 0;
    border: 0;
}


/* HOMEPAGE STYLING */

.logo {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 128pt;
    color: black;
}

.tagline {
    font-family: 'Poppins', sans-serif;
    font-size: 18pt;
    color: black;
}

.poweredBy {
    font-size: 14pt;
}

.col {
    display: flex;
    justify-content: center;
    justify-content: center;
}

.artPreview {
    height: 420px;
    width: 350px;
    padding: 48px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 5px;
    background-image: url('./assets/frame.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.previewImage {
    height: 150px;
    width: 150px;
    border-radius: 5px;
}

.artLink {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 16pt;
}

.artistLink {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: black;
}


/* NAVBAR STYLING */

.navbar {
    /* border: 3px black solid; */
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.loggedIn {}

.loggedOut {
    display: flex;
    flex-direction: row;
}

.loginForm {
    display: flex;
    flex-direction: row;
}

.inputs {}

.inputBox {
    width: 200px;
}

.formGroup {
    display: flex;
    flex-direction: row;
}


/* MY GALLERY STYLING */

.galleryCol {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.updateArt {
    border: 5px black solid;
}


/*ANIMATION */

@keyframes fading {
    0% {
        opacity: .8;
    }
    100% {
        opacity: .3;
    }
}

@keyframes saturate {
    0% {
        filter: saturate(1);
    }
    25% {
        filter: saturate(2);
    }
    50% {
        filter: saturate(5);
    }
    100% {
        filter: saturate(20);
    }
}

@keyframes inversion {
    0% {
        filter: invert(0);
    }
    100% {
        filter: invert(1);
    }
}

@keyframes hueRotate {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

@keyframes colorChange {
    0% {
        background-color: white
    }
    25% {
        background-color: yellow;
    }
    50% {
        background-color: blue;
    }
    75% {
        background-color: red;
    }
    100% {
        background-color: black;
    }
}


/* MODAL STYLING */

.gifPreview {
    height: 200px;
    width: 200px;
}


/* ART FRAME STYLING */

.artImg {
    position: absolute;
    height: 480px;
    width: 480px;
    top: 0;
    left: 0;
    opacity: 80%;
    z-index: -1;
    padding: 10px;
}

.artFrame {
    border: 10px black solid;
    position: relative;
    height: 500px;
    width: 500px;
    order: 1;
    z-index: 5;
}

.artWall {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.reviews {
    order: 2
}