.App {
    text-align: center;
}


/*ANIMATION */

@keyframes fading {
    0% {
        opacity: .8;
    }
    100% {
        opacity: .3;
    }
}

@keyframes saturate {
    0% {
        filter: saturate(1);
    }
    25% {
        filter: saturate(2);
    }
    50% {
        filter: saturate(5);
    }
    100% {
        filter: saturate(20);
    }
}

@keyframes inversion {
    0% {
        filter: invert(0);
    }
    100% {
        filter: invert(1);
    }
}

@keyframes hueRotate {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

@keyframes colorChange {
    0% {
        background-color: white
    }
    25% {
        background-color: yellow;
    }
    50% {
        background-color: blue;
    }
    75% {
        background-color: red;
    }
    100% {
        background-color: black;
    }
}


/* .coolImg {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 80%;
    z-index: -1;
} */


/* img {
    height: 150px;
    width: 150px;
} */

.previewImage {
    height: 150px;
    width: 150px;
}

.artImg {
    position: absolute;
    height: 480px;
    width: 480px;
    top: 0;
    left: 0;
    opacity: 80%;
    z-index: -1;
    padding: 10px;
}

.artFrame {
    border: 10px black solid;
    position: relative;
    height: 500px;
    width: 500px;
    order: 1;
}

.artWall {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.reviews {
    order: 2
}

div {
    border: 3px black solid;
    margin: 10px;
    padding: 10px;
}